<% include header %>

<main>
  <h1 class="titulo"><%= texts.tituloacc %></h1>
  <form method="POST" id="accountform" enctype="multipart/form-data">
  
      <div class="input-group mb-3">
        <input type="text" class="form-control" value="<%= username %>" aria-label="Username" name="username"
          aria-describedby="basic-addon1" readonly required>
      </div>

      <div class="input-group mb-3">
      <input type="password" class="form-control" value="Password" aria-label="Username" name="newpwd"
        aria-describedby="basic-addon1" required>
    </div>

      <div class="input-group mb-3">
      <button type='submit' formaction="/account" id="sendHashButton" class="btn btn-md btn-light">
          Actualizar contraseña
        </button>
      </div>

  </form>
</main>


<% include footer %>