<% include header %>

<div class='alert alert-info' role='alert'>
    <i class="fas fa-copy"></i>
    <div style="margin-top:70px;">
        <p><b>El archivo fue registrado, pero todavia no fue validado por la Blockchain.</b></p>
        <p>
            <a class="btn btn-info" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                Detalles
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <p><b>Identificación de archivo:</b><br />
                    <%= doc.id %>
                </p>
                <p><b>Hash del archivo: </b><br />
                    <%= hashed %>
                </p>
                <p><b>Hash de Transacción: </b><br />
                    <a href="https://explorer.testnet.rsk.co/tx/<%= doc.tx %>" target="_blank"><%= doc.tx %></a>
                </p>
            </div>
        </div>
    </div>
</div>


<% include footer %>