<script>
	function toggleLinks() {
		let parsedUrl = new URL(window.location.href);
		let link = parsedUrl.pathname.slice(1);
			$("#"+link).toggleClass('active');
	}

	$(document).ready(function () {

		toggleLinks();

		bsCustomFileInput.init();
		var file = document.getElementById('hashFile');
		var sendbtn = document.getElementById('sendHashButton');
		var findbtn = document.getElementById('findHashButton');
		$('#hashform').submit(function (e) {
			sendbtn.setAttribute('disabled', '');
			findbtn.setAttribute('disabled', '');
			document.getElementsByClassName('loader').style = 'display: block';
		});
		file.addEventListener('change', function () {
			$('#responseText').html('');
			document.querySelector('form').className = 'was-validated';
		});

	});
	$(function () {
		$('[data-toggle="popover"]').popover()
	  })
	  $('.popover-dismiss').popover({
  trigger: 'focus'
})
</script>
</div>
</body>

</html>