<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
	bsCustomFileInput.init();
	var file = document.getElementById('hashFile');
	var sendbtn = document.getElementById('sendHashButton');
	var findbtn = document.getElementById('findHashButton');
	$('#hashform').submit(function(e) {
		sendbtn.setAttribute('disabled', '');
		findbtn.setAttribute('disabled', '');
		document.getElementById('loader').style = 'display: block';
	});
	file.addEventListener('change', function() {
		$('#responseText').html('');
		document.querySelector('form').className = 'was-validated';
	});
});
</script>

</body>
</html>