<% include header %>

<div class="alert alert-success" role="alert">
	<i class="fas fa-file-upload"></i>
	<div style="margin-top:70px;">
		<p><b>El archivo fue guardado con exito.</b><br>
			<strong>En aprox. 10 minutos el archivo se encontrar치 validado.</strong>
		</p>
		<p>
			<a class="btn btn-info" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
				aria-controls="collapseExample">
				Detalles
			</a>
			<a class="btn btn-info" href="javascript:history.back()">Volver</a>

		</p>
		<div class="collapse" id="collapseExample">
			<div class="card card-body">
				<p><b>Identificaci칩n de archivo:</b><br />
					<%= docid %>
				</p>
				<p><b>Hash del archivo: </b><br />
					<%= hashed %>
				</p>
				<p><b>Identificaci칩n de transacci칩n:</b><br />
					<%= result %>
				</p>
			</div>
		</div>
	</div>
</div>

<% include footer %>