<% include header %>

<% include navbar_logged %>

<% include form %>
      
        <div class='alert alert-warning' role='alert'><p><b>Hash de archivo fue guardado en la Blockchain.</b></p>
        <p><b>Identificaci贸n de archivo:</b><br/>
        <%= docid %>
        </p>
        <p><b>Hash del archivo: </b><br/>
        <%= hashed %>
        </p>
        <p><b>Identificaci贸n de transacci贸n:</b><br/>
        <%= result %>
        </p>
        <p>
        <strong>Darle tiempo a la transacci贸n de ser minada</strong>
        </p>
        </div>

<% include footer %>