<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Blockchain Certification by NUCLEARIS">
    <meta name="author" content="Sebastian Martinez">
    <meta name="generator" content="Jekyll v3.8.5">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>NUCLEARIS Blockchain</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link href="/app.css" type="text/css" rel="stylesheet">
    <link href="/loader.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>

<body>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="logo.svg"
                    style="height:25px; display:block; margin-bottom:5px;"></a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><%= texts.inicio %></a>
                </li>
                <% if (currentUser) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/list">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hash">Hash/Verify</a>
                </li>
                <% } %>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/?clang=es"><img src="flag_arg.svg" style="height:30px; vertical-align:middle;"></a>
                    <a href="/?clang=en"><img src="flag_eeuu.svg"style="height:30px; vertical-align:middle;"></a>
                    <a href="/?clang=de"><img src="flag_ger.svg"style="height:30px; vertical-align:middle;"></a>
                </li>
                <% if (currentUser) { %>
                <li class="nav-item">
                    <a class="nav-link"><%= currentUser.username %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/login"><%= texts.login %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup"><%= texts.signup %></a>
                </li>
                <% } %>
            </ul>
        </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
        </div>
    </nav>