<main role="main" class="container">
    <div class="container" style="width: 100%;">
      <div class="row">
        <div class="col align-self-start">
          <h1>NUCLEARIS Material Organization</h1>
          <hr/>
          <h2 style="padding-top: 1rem;">Documentación en la Blockchain</h2>

        </div>
      </div>
    <div class="container" style="padding-top: 2rem;">
      <form method="POST" id="hashform" enctype="multipart/form-data">
        <div class="mb-3">
          <div class="custom-file">
            <input type="file" id="hashFile" name="newhash" class="custom-file-input" required>
            <label class="custom-file-label" for="customFileLang" data-browse="Elegir">
              Seleccionar un archivo...
            </label>
            <div class="invalid-feedback">
              Se requiere cargar un archivo
            </div>
          </div>
          <div class="form-group" style="padding-top: 1rem;">
          <button type='submit' formaction="/hash" id="sendHashButton" class="btn btn-outline-primary" disabled>
            Subir hash a la Blockchain
          </button>
          <button type='submit' formaction="/check" id="findHashButton" class="btn btn-outline-primary" disabled>
          Chequear autenticidad
          </button>

        </div>
      </form>
        <hr/>
        <div class="lds-ellipsis" style="display: none" id="loader"><div></div><div></div><div></div><div></div></div>
        <div id=responseText>