.App div.hero {
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 300px;
    font-size: 40px;
    height: 1000px;
}

.App div.container {
    margin-top:50px;
    margin-left:200px;
    height: 500px;
}

.App footer {
    bottom: 0px;
    background-color: #000;
    width: 100%;
    height: 150px;
    color: white;
    font-size: 40px;
    text-align: center;
    line-height: 150px;
}
