<% include partials/header %>

<% include partials/navbar_logged %>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div id="content_table">
                <h1>Autenticidad a traves de la Blockchain</h1>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>
