<% include partials/header %>

<main role="main">
  <div class="cover-heading"><%= texts.titulo %></div>
  <!-- <p class="lead"><%= texts.titulotext %></p> -->

</main>

</div>
<div class="main-tutorial even inner-header genesis">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <h1>Genesis</h1>
            <p>Amet deserunt reprehenderit sint quis cupidatat ullamco aute minim occaecat eiusmod aliqua ut. Incididunt
            non sit veniam fugiat ipsum labore tempor eu aliquip aute veniam dolore voluptate. Est ut veniam veniam
            dolore voluptate anim mollit cillum dolor. Fugiat adipisicing sint ipsum anim minim cupidatat cillum labore
            non ullamco et sint. Incididunt id voluptate proident nostrud proident nisi aliquip irure reprehenderit
            exercitation dolor magna ea consectetur.</p>
            <p>Pariatur veniam minim eu elit occaecat voluptate sint elit. Pariatur aliqua in cupidatat ipsum. Esse eiusmod
            commodo sit ipsum ullamco aute occaecat laborum. Sunt enim velit anim consequat elit aute in nostrud ut eu
            nulla. Ex amet elit consectetur occaecat et pariatur quis ut pariatur ea proident mollit. Dolore fugiat
            commodo exercitation do duis culpa non commodo enim sint exercitation fugiat ipsum. Tempor aute tempor ea
            veniam cupidatat culpa anim sit consequat nulla.</p>
          </div>
          <div class="col-md-6">
            <div class="intro_img"><img class="intro_img" src="genesis.jpg"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-tutorial even inner-header solution">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="intro_img"><img class="intro_img" src="sc1.jpg"></div>
          </div>
          <div class="col-md-6">
            <h1>Solución</h1>
            <p>Ullamco sit id quis deserunt proident aliqua consectetur occaecat. Anim quis laboris cupidatat nisi
            excepteur
            reprehenderit fugiat anim culpa et. Sint aute id ex aliqua culpa cupidatat duis commodo tempor culpa ad
            cupidatat
            occaecat esse. Enim cupidatat non sint incididunt velit dolore minim eiusmod nulla ex.</p>
            <p>Reprehenderit duis nulla veniam anim laborum consequat amet eu cillum pariatur consectetur. Eu cillum irure
            veniam
            do ad eiusmod aliqua aute esse ea sunt eu. Eiusmod qui anim irure laboris labore dolore labore ea irure.
            Incididunt
            nostrud ad consectetur elit officia reprehenderit. Tempor cillum nisi incididunt aliquip id.</p>
            <p>Cillum officia sint pariatur reprehenderit nulla laboris tempor laboris amet fugiat laboris. Tempor non aute
            id elit
            veniam qui exercitation duis Lorem laborum pariatur mollit. Id cupidatat do proident in commodo.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-tutorial even inner-header platform">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <h1>Plataforma</h1>
            <p>Mollit dolore proident in exercitation deserunt non mollit ullamco. Labore elit dolore occaecat esse nostrud
            reprehenderit magna. Cillum dolor cupidatat mollit eu ex sint proident quis anim ad culpa aliquip enim amet.
            Nulla
            esse do deserunt id ipsum consequat. Aliqua et magna dolor non est sit ea id voluptate nulla ad Lorem
            aliqua.
            Occaecat enim amet sit non excepteur do commodo nostrud.</p>
            <p>Ullamco velit Lorem ullamco amet velit minim nisi officia nulla deserunt pariatur tempor magna. Consequat
            cupidatat
            pariatur non occaecat ipsum elit do labore velit Lorem nisi ut elit ut. Quis consequat sunt ea anim deserunt
            aliqua
            amet esse in. Proident ullamco ut esse id est commodo aute minim dolore sit sunt.</p>
          </div>
          <div class="col-md-6">
            <div class="intro_img"><img class="intro_img" src="platform.jpg"></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-tutorial even inner-header futuro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="intro_img"><img class="intro_img" src="future.jpg"></div>
          </div>
          <div class="col-md-6">
            <h1>Futuro</h1>
            <p>Laboris anim laboris veniam ullamco. Proident magna irure eiusmod ex proident exercitation exercitation.
            Laboris
            duis adipisicing Lorem non dolor consequat cillum incididunt. Laboris qui ex velit quis fugiat mollit velit
            laborum
            tempor occaecat. Proident ex non officia qui id deserunt occaecat magna. Sint velit voluptate irure ipsum
            elit
            occaecat laborum ea minim veniam deserunt.</p>
            <p>Labore dolore eu velit dolor excepteur duis. Eu in eiusmod Lorem voluptate enim cupidatat exercitation
            laboris sunt
            ipsum do minim dolore. Deserunt laboris qui nulla fugiat pariatur laborum deserunt et officia eiusmod.</p>
            <p>Ipsum adipisicing mollit nisi qui sit laborum incididunt ut aliquip sunt nisi nostrud. Dolore do anim ad eu
            ad
            mollit exercitation tempor do aliquip excepteur sit nisi. Fugiat proident laborum reprehenderit eu sint duis
            ullamco
            mollit dolore. Cupidatat ut eiusmod officia non ad ut eu veniam exercitation enim aliqua ut. Occaecat non
            adipisicing adipisicing pariatur dolore.</p>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>