<% include partials/header %>

<main role="main">
  <h1 class="cover-heading"><%= texts.titulo %></h1>
  <!-- <p class="lead"><%= texts.titulotext %></p> -->

</main>

</div>
<div id="genesis" class="intro">
  <div class="intro_content">
  <h1>Genesis</h1>
    Amet deserunt reprehenderit sint quis cupidatat ullamco aute minim occaecat eiusmod aliqua ut. Incididunt non sit veniam fugiat ipsum labore tempor eu aliquip aute veniam dolore voluptate. Est ut veniam veniam dolore voluptate anim mollit cillum dolor. Fugiat adipisicing sint ipsum anim minim cupidatat cillum labore non ullamco et sint. Incididunt id voluptate proident nostrud proident nisi aliquip irure reprehenderit exercitation dolor magna ea consectetur.

Pariatur veniam minim eu elit occaecat voluptate sint elit. Pariatur aliqua in cupidatat ipsum. Esse eiusmod commodo sit ipsum ullamco aute occaecat laborum. Sunt enim velit anim consequat elit aute in nostrud ut eu nulla. Ex amet elit consectetur occaecat et pariatur quis ut pariatur ea proident mollit. Dolore fugiat commodo exercitation do duis culpa non commodo enim sint exercitation fugiat ipsum. Tempor aute tempor ea veniam cupidatat culpa anim sit consequat nulla.

Exercitation do id velit amet. Amet in elit sit labore do aute nulla fugiat veniam nisi do. Dolor consectetur in pariatur velit ea commodo quis aute.

Ex est veniam proident non irure occaecat consectetur veniam. Eu mollit nostrud pariatur tempor fugiat adipisicing amet reprehenderit irure incididunt consequat exercitation adipisicing. Occaecat commodo aliquip mollit id. Cupidatat cupidatat officia velit excepteur. Qui et sunt exercitation nisi voluptate labore eu cillum amet. Ad deserunt nulla eu officia enim nostrud.
</div>
</div>
<div id="solution" class="intro">
    <div class="intro_content">

  <span style="text-align: right">
    <h1>Solución</h1>
  </span>
Ullamco sit id quis deserunt proident aliqua consectetur occaecat. Anim quis laboris cupidatat nisi excepteur reprehenderit fugiat anim culpa et. Sint aute id ex aliqua culpa cupidatat duis commodo tempor culpa ad cupidatat occaecat esse. Enim cupidatat non sint incididunt velit dolore minim eiusmod nulla ex.

Reprehenderit duis nulla veniam anim laborum consequat amet eu cillum pariatur consectetur. Eu cillum irure veniam do ad eiusmod aliqua aute esse ea sunt eu. Eiusmod qui anim irure laboris labore dolore labore ea irure. Incididunt nostrud ad consectetur elit officia reprehenderit. Tempor cillum nisi incididunt aliquip id.

Eu velit sunt velit sunt consequat voluptate do. Officia ea Lorem velit duis tempor veniam. Id aute aliqua nostrud cupidatat excepteur ipsum quis. Aliqua eiusmod ea reprehenderit aliquip quis. Culpa duis ex non nisi magna.

Cillum officia sint pariatur reprehenderit nulla laboris tempor laboris amet fugiat laboris. Tempor non aute id elit veniam qui exercitation duis Lorem laborum pariatur mollit. Id cupidatat do proident in commodo.
</div>

</div>
<div id="platform" class="intro">
    <div class="intro_content">

  <span>
    <h1>Plataforma</h1>
  </span>
Mollit dolore proident in exercitation deserunt non mollit ullamco. Labore elit dolore occaecat esse nostrud reprehenderit magna. Cillum dolor cupidatat mollit eu ex sint proident quis anim ad culpa aliquip enim amet. Nulla esse do deserunt id ipsum consequat. Aliqua et magna dolor non est sit ea id voluptate nulla ad Lorem aliqua. Occaecat enim amet sit non excepteur do commodo nostrud.

Ullamco velit Lorem ullamco amet velit minim nisi officia nulla deserunt pariatur tempor magna. Consequat cupidatat pariatur non occaecat ipsum elit do labore velit Lorem nisi ut elit ut. Quis consequat sunt ea anim deserunt aliqua amet esse in. Proident ullamco ut esse id est commodo aute minim dolore sit sunt.

Incididunt mollit fugiat enim sint. Non magna reprehenderit do magna qui consectetur. Dolore ad dolor adipisicing est fugiat esse voluptate nisi labore consequat commodo. Dolore id minim sint quis aute anim reprehenderit anim sint cillum. Do ullamco voluptate anim labore officia duis ipsum excepteur cupidatat mollit. Adipisicing proident dolor pariatur proident. Culpa est id sit dolore culpa mollit veniam magna eiusmod labore id dolor.

Fugiat culpa Lorem reprehenderit adipisicing occaecat commodo eiusmod dolor tempor dolor consequat. Ad amet id aute voluptate eu est dolor anim amet aute. Dolore officia magna voluptate exercitation. Nisi reprehenderit mollit laboris est anim veniam laboris laborum eu aliquip minim sunt. Officia fugiat officia non culpa amet proident non aute irure nulla cupidatat nostrud. Tempor laborum ex dolor excepteur adipisicing est eiusmod nulla occaecat ipsum.
</div>
</div>

<div id="future" class="intro">
    <div class="intro_content">

  <span style="text-align: right">
    <h1>Futuro</h1>
  </span>
Laboris anim laboris veniam ullamco. Proident magna irure eiusmod ex proident exercitation exercitation. Laboris duis adipisicing Lorem non dolor consequat cillum incididunt. Laboris qui ex velit quis fugiat mollit velit laborum tempor occaecat. Proident ex non officia qui id deserunt occaecat magna. Sint velit voluptate irure ipsum elit occaecat laborum ea minim veniam deserunt.

Labore dolore eu velit dolor excepteur duis. Eu in eiusmod Lorem voluptate enim cupidatat exercitation laboris sunt ipsum do minim dolore. Deserunt laboris qui nulla fugiat pariatur laborum deserunt et officia eiusmod.

Ipsum adipisicing mollit nisi qui sit laborum incididunt ut aliquip sunt nisi nostrud. Dolore do anim ad eu ad mollit exercitation tempor do aliquip excepteur sit nisi. Fugiat proident laborum reprehenderit eu sint duis ullamco mollit dolore. Cupidatat ut eiusmod officia non ad ut eu veniam exercitation enim aliqua ut. Occaecat non adipisicing adipisicing pariatur dolore.

Eu mollit laboris et qui adipisicing ullamco officia exercitation enim in. Consectetur ad officia laborum aute occaecat. Et irure sit voluptate adipisicing cupidatat quis do occaecat sunt proident. Minim est excepteur reprehenderit eiusmod nostrud tempor elit sint aliqua enim. Eu proident reprehenderit dolore elit pariatur quis dolor velit consequat id consectetur magna. Nulla dolor voluptate adipisicing nostrud elit quis eiusmod sit ea mollit sit ex laboris exercitation. Culpa commodo reprehenderit nostrud occaecat et cupidatat reprehenderit.
</div></div>
