<% include partials/header %>

<main role="main" class="inner cover">
<h1 class="cover-heading"><%= texts.titulo %></h1>
<p class="lead"><%= texts.titulotext %></p>
<p class="lead">
  <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
</p>
</main>
<% include partials/footer %>