body {
	background-color: rgb(30, 154, 183);
	font-family: 'Maven Pro', sans-serif;
}
html {
	height: 100%;
}
li {
	color: white;
}
#content {
	color: white;
	text-align: center;
	padding-top: 25%;
}
#intro {
	color: black;
	background-color: azure;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
}
#content_table {
	color: white;
	text-align: center;
	padding-top: 10%;
}
#loader {
	display: none;
	margin-top: 20px;
	width: 3rem;
	height: 3rem;
}
hr {
	width: 400px;
	border: 1px solid white;
}
td {
	color: black;
}
th {
	color: black;
}
.table {
	width: 60%;
	margin: auto;
	margin-bottom: 30px;
}
