/* Global
========================================*/
html,
body {
	/* 	height: 100%;
 */
}

body {
	color: white;
}

/* First page div
========================================*/
.cover-container {
	background: url("npp2.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	padding: 50px;
	height: 100vh;
	text-align: center;
	text-shadow: 0 .05rem .5rem rgba(0, 0, 0);
	box-shadow: 0 20px 50px 0px #333;
}

/* First page content container */
main {
	position: relative;
	top: 3em;
	width: 50vw;
	margin: auto;
	opacity: 0;
	text-align: center;
	animation: fadein 1s forwards;
	text-shadow: none;
}

.cover-heading {
	padding-top: 7rem;
	font-size: 30px;
	font-weight: 500;
	text-shadow: 0 .1rem .5rem rgba(0, 0, 0);
	width: 100%;
	margin: auto;
}

.pagination {
	justify-content: center;
}

/* Introduction divs 
========================================*/
.intro {
	position: relative;
	padding: 20px 0 0;
	box-shadow: 0 20px 50px 20px #333;
}
.intro_content {
	display: flex;
	flex-direction: row;
	max-width: 70em;
	margin: auto;
}
.intro_img {
	width: 400px;
	margin: auto;
	border-radius: 50%;
	box-shadow: 0.5rem .5rem 2rem rgba(107, 98, 98, 0.5);
}
.main-tutorial > .container > .row {
	padding: 40px 0;
}
.genesis {
	background-color: rgb(121, 195, 213);
	box-shadow: 0 2rem 105rem rgb(0, 0, 0);
}
.solution {
	background-color: rgb(30, 154, 183);
	box-shadow: 0 2rem 10rem rgb(0, 0, 0);
}
.platform {
	background-color: rgb(229, 158, 30);
	box-shadow: 0 2rem 10rem rgb(0, 0, 0);
}
.futuro {
	background-color: rgb(242, 197, 63);
	box-shadow: 0 2rem 10rem rgb(0, 0, 0);
}
/* Bootstrap alerts
========================================*/
div .alert i {
	transform: scale(5) translateY(6px);
}

div .alert {
	text-shadow: none;
	margin: auto;
	top: 10em;
	max-width: 50vw;
	animation: fadein 2s forwards;
	text-align: center;
}

/* Login form
========================================*/
input[type="text"],
[type="password"] {
	text-align: center;
}

button {
	width: 50%;
	margin: auto;
}

/* Header and Navbar
========================================*/
.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 50%;
	margin: auto;
	padding: 20px;
}

.main-nav {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	text-align: center;
}
.nav-links {
	color: white;
	font-weight: 500;
	padding: 0 10px 0 10px;
	transition: border-bottom 0.2s linear;
	height: 30px;
}
.nav-links:hover,
.nav-links:active,
.nav-links:focus {
	text-decoration: none;
	color: white;
	border-bottom: .25rem solid white;
}
@media (max-width: 1170px) {
	.navbar {
		flex-direction: column;
		align-content: center;
	}
	.logo {
		align-items: center;
	}
	.main-nav {
		margin-top: 20px;
	}
	.intro_img {
		width: 35vw;
	}
}

@media (max-width: 780px) {
	.intro_img {
		display: none;
	}
}

@media (max-width: 500px) {
	.main-nav {
		flex-direction: column;
	}
	.logo {
		align-items: center;
	}
	main {
		top: 0em;
		width: 80vw;
	}
	.tablelist {
		max-width: 100vw;
	}
	.intro_img {
		display: none;
	}
}

.faillogin {
	margin: auto;
	padding-top: 100px;
	font-weight: bold;
	font-size: 1.5em;
}

/* Buttons
========================================*/
.btn-secondary,
.btn-secondary:focus {
	color: white;
	text-shadow: none; /* Prevent inheritance from `body` */
	background-color: rgb(0, 0, 0);
	border: .05rem solid #fff;
}
.btn-secondary:hover {
	background-color: white;
	color: black;
}

/* Animations
========================================*/
@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}

.tablelist {
	min-width: 500px;
}
