<% include header %>


<div class='alert alert-success' role='alert'>
    <i class="fas fa-check-circle"></i>
    <div style="margin-top:70px;">
        <p><b>Les pedimos disculpas por la interrupción. <br>
        Nos encontramos con un error. <br>
        Le pedimos de informar a <a href="mailto:sistemas@nuclearis.com">sistemas@nuclearis.com</a></b></p>
        <p>
            <a class="btn btn-info" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                Detalles
            </a>
            <a class="btn btn-info" href="javascript:history.back()">Volver</a>

        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <p><b>Error: </b><br />
                    <%= error %>
                </p>
            </div>
        </div>
    </div>
</div>


<% include footer %>