<% include header %>

<div class='alert alert-success' role='alert'>
    <i class="fas fa-check-circle"></i>
    <div style="margin-top:70px;">
        <p><b><%= texts.auth.updated %></b></p>
        <p>
            <a class="btn btn-info" href="/"><%= texts.check.back %></a>

        </p>
        
    </div>
</div>


<% include footer %>